services:
  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - cdp-tenant

  ##############################################################################
  # UI
  ##############################################################################
  farming-grants-agreements-ui:
    build: ./
    ports:
      - '127.0.0.1:3000:3000'
    depends_on:
      redis:
        condition: service_healthy
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      PORT: 3000
      NODE_ENV: ${NODE_ENV:-development}
      REDIS_HOST: ${REDIS_HOST:-redis}
      USE_SINGLE_INSTANCE_CACHE: ${USE_SINGLE_INSTANCE_CACHE:-true}
      BACKEND_URL: ${BACKEND_URL:-http://host.docker.internal:3555}
    networks:
      - cdp-tenant

  mock-server:
    image: pactfoundation/pact-stub-server:0.7.0
    profiles:
      - mock
    restart: unless-stopped
    ports:
      - '8080:8080'
    volumes:
      - ./src/contracts/consumer/pacts:/app/pacts
    command: ['-p', '8080', '-d', 'pacts']
    networks:
      - cdp-tenant

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
