{% extends 'layouts/page.njk' %}

{% set pageTitle = 'Unauthorized' %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          You are not authorized to access this page
        </h1>

        {% if errorMessage %}
        <div class="govuk-inset-text">
          <p class="govuk-body">
            <strong>Error details:</strong> {{ errorMessage }}
          </p>
        </div>
        {% endif %}

        <p class="govuk-body">
          Your session may have expired or you may not have the necessary permissions to view this content.
        </p>

        <p class="govuk-body">
          Please check your credentials and try again.
        </p>

        {% include "partials/help/help.njk" %}
      </div>
  </div>
{% endblock %}
