{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends 'layouts/page.njk' %}

{% block content %}
    <div class="govuk-grid-row" role="main">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {{ pageTitle }}
          </h1>
          <div class="govuk-panel__body">
            The start date for these actions is<br/>
            {{ agreement.payment.agreementStartDate | formatDate('d MMMM yyyy') }}
          </div>
        </div>
        <div class="govuk-panel__body">
          <p class="govuk-body">Your agreement number is {{ agreement.agreementNumber }}.</p>
          <h2 class="govuk-heading-m">
            What happens next
          </h2>
          <form method="post" class="govuk-!-display-inline">
            <p class="govuk-body">
              You can
              <button
                type="submit"
                name="action"
                value="view-agreement"
                class="govuk-body govuk-link link-button">
                view your full agreement
              </button>
              including the terms and conditions for your selected actions.
            </p>
          </form>
          <p class="govuk-body">
            Read the guidance on <a href="https://www.gov.uk/find-funding-for-land-or-farms" class="govuk-link" rel="noopener noreferrer" target="_blank">funding for land or farms (opens in new tab)</a> to check what you must do to get paid for each action.
          </p>
          {% if nearestQuarterlyPaymentDate %}
            <p class="govuk-body">You will receive your first payment for these actions in
              {{ nearestQuarterlyPaymentDate }}.</p>
          {% endif %}
        </div>

        {% include "partials/help/help.njk" %}
      </div>
    </div>
{% endblock %}
