{% set bodyClasses = "view-offer-page" ~ (" view-agreement-has-watermark" if isDraftAgreement or isWithdrawnAgreement else "") %}
{% set mainClasses = "" %}
{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block content %}

  {% if isDraftAgreement %}
    {% set html %}
      <p class="govuk-notification-banner__heading">This is a draft version of your agreement</p>
      <p>You will receive the final agreement once you accept your agreement offer.</p>
      <p>Your agreement will start on the first day of the month after you accept your offer. The start date shown here is an example, based on if you accepted your offer today.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}
  {% elif isWithdrawnAgreement %}
    {% set html %}
     <p class="govuk-notification-banner__heading">This agreement offer has been withdrawn.</p>
    {% endset %}

    {{ govukNotificationBanner({
     html: html
    }) }}
  {% endif %}

  {% if isDraftAgreement or isWithdrawnAgreement %}
    <div class="print-watermark" aria-hidden="true">{{ 'DRAFT' if isDraftAgreement else 'WITHDRAWN' }}</div>
    <div class="print-watermark-header" aria-hidden="true">{{ 'Draft Agreement' if isDraftAgreement else 'Withdrawn Agreement' }}</div>
  {% endif %}

  <div class="with-watermark">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ agreementName }}</h1>
        <dl class="govuk-body dataset-info">
          <dt>Agreement holder:</dt>
          <dd>{{ agreement.applicant.business.name }}</dd>

          <dt>SBI:</dt>
          <dd>{{ agreement.identifiers.sbi }}</dd>

          <dt>Address:</dt>
          <dd>{{ getAddress(agreement) }}</dd>

          <dt>Agreement name:</dt>
          <dd>{{ agreement.applicant.business.name }} FPTT</dd>

          <dt>Agreement number:</dt>
          <dd>{{ agreement.agreementNumber }}</dd>

          <dt>Agreement Start date:</dt>
          <dd>{{ agreement.payment.agreementStartDate | formatDate("d MMMM yyyy") }}</dd>

          <dt>Agreement End date:</dt>
          <dd>{{ agreement.payment.agreementEndDate | formatDate("d MMMM yyyy") }}</dd>
        </dl>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <nav role="navigation" aria-labelledby="subsection-title">
          <div id="contents">
            <p class="govuk-body-s">Contents</p>
            <ul class="govuk-list toc">
              <li data-test-id="contentsIntroLink"><a href="#intro">1. Introduction and overview</a></li>
              <li data-test-id="contentsPartiesLink"><a href="#parties">2. Parties to the agreement</a></li>
              <li data-test-id="contentsLandLink"><a href="#land">3. Land covered by the agreement</a></li>
              <li data-test-id="contentsActionsLink"><a href="#actions">4. Summary of actions</a></li>
              <li data-test-id="contentsPaymentLink"><a href="#payment">5. Payments</a></li>
              <li data-test-id="contentsScheduleLink"><a href="#schedule">6. Agreement duration</a></li>
              <li data-test-id="contentsSignatureLink"><a href="#signature">7. Electronic signature</a></li>
              <li data-test-id="contentsProtectionLink"><a href="#protection">8. Data protection</a></li>
            </ul>
          </div>

          <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-6 print-btn">
            <button
              class="govuk-link govuk-body-s gem-c-print-link__button"
              data-module="print-link"
              data-print-link-module-started="true"
              style="--print-icon-url: url('{{ getAssetPath(baseUrl, 'images/govuk-icon-print.png') }}');">
              Print this page
            </button>
          </div>
        </nav>
      </div>

      <noscript>
        <style>
          .print-btn { display: none !important; }
        </style>
      </noscript>

      <div class="govuk-grid-column-three-quarters">
        <h2 id="intro" class="govuk-heading-l">1. Introduction and overview</h2>

        <p class="govuk-body">
          This is the Farm payments technical test (FPTT) agreement document, which describes the sum
          to be paid (the "Grant") to the agreement holder ("you") for delivering the FPTT action(s) you have chosen.
        </p>

        <p class="govuk-body">The FPTT "Agreement" comprises:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>this FPTT agreement document (“Agreement Document”)</li>
          <li>
            the FPTT terms and conditions
            <a href="{{ buildUrl(serviceUrl, 'farm-payments/terms-and-conditions') }}" class="govuk-link" rel="noopener noreferrer" target="_blank">
              ("Terms and Conditions")
            </a>, which are applicable to the payment of the Grant
          </li>
          <li>the FPTT actions you have chosen (“Actions”)</li>
        </ul>

        <p class="govuk-body">
          When you enter the Agreement, you are agreeing to the terms applicable to the payment of the Grant. You should review the mandatory requirements of your Agreement to make sure you understand the full extent of your obligations under the Agreement.
        </p>

        <h2 id="parties" class="govuk-heading-l">2. Parties to the agreement</h2>

        <p class="govuk-body">This Agreement is between:</p>

        <p class="govuk-body">
          You, {{ agreement.applicant.business.name }}, of {{ getAddress(agreement) }}
          and the Rural Payments Agency (acting as a delivery body on behalf of the Department for Environment, Food and Rural Affairs),
          PO Box 324, Worksop, S95 1DF ("us", "we", "our").
        </p>

        <h2 id="land" class="govuk-heading-l">3. Land covered by the agreement</h2>

        <p class="govuk-body">The "Agreement Land" comprises the following land parcels:</p>

        <table class="govuk-table govuk-table--small-text-until-tablet" data-test-id="landTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for heading in agreementLand.headings %}
                <th scope="col" class="govuk-table__header"
                  {% for key, value in heading.attributes %}
                    {{ key }}="{{ value }}"
                  {% endfor %}>
                  {{ heading.text }}
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            {% for row in agreementLand.data %}
              <tr class="govuk-table__row" data-test-id="landTableRow{{ loop.index }}">
                {% for cell in row %}
                  <td class="govuk-table__cell"
                    data-test-id="landTableCell{{ loop.index }}_{{ loop.index0 }}"
                    {% for key, value in cell.attributes %}
                      {{ key }}="{{ value }}"
                    {% endfor %}>
                    {{ cell.text }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <p class="govuk-body">
          The Terms and Conditions contain separate obligations in relation to the "Agreement Land".
        </p>

        <h2 id="actions" class="govuk-heading-l">4. Summary of actions</h2>

        <p class="govuk-body">
          The following table sets out a summary of the SFI Actions you have chosen and agree to complete under the Agreement.
          The Terms and Conditions and the Actions set out the accompanying obligations for the chosen Actions.
        </p>

        <table class="govuk-table govuk-table--small-text-until-tablet table-bordered" data-test-id="actionsTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for heading in summaryOfActions.headings %}
                <th scope="col" class="govuk-table__header"
                  {% for key, value in heading.attributes %}
                    {{ key }}="{{ value }}"
                  {% endfor %}>
                  {{ heading.text }}
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            {% for row in summaryOfActions.data %}
              <tr class="govuk-table__row" data-test-id="actionsTableRow{{ loop.index }}">
                {% for cell in row %}
                  <td class="govuk-table__cell"
                    data-test-id="actionsTableCell{{ loop.index }}_{{ loop.index0 }}"
                    {% for key, value in cell.attributes %}
                      {{ key }}="{{ value }}"
                    {% endfor %}>
                    {{ cell.text }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2 id="payment" class="govuk-heading-l">5. Payments</h2>

        <p class="govuk-body">Subject to you complying with your Agreement, the following table sets out a summary of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the total payments for the Actions you have chosen and agree to complete under the Agreement</li>
          <li>total payments for the duration of your agreement</li>
          <li>the relevant additional payments</li>
        </ul>

        <p class="govuk-body">
          Under the Agreement, your annual payment value is paid in quarterly instalments.
          Your first payment may be a different amount due to the Rural Payments Agency rounding it up.
        </p>

        <p class="govuk-body">
          You’ll usually receive your first payment in the fourth month after your agreement’s start date.
        </p>

        <p class="govuk-body">
          These figures are correct at the Agreement start date and may vary as a result of the processes set out in the Terms and Conditions.
        </p>

        {% if isCMOR1ActionUsed %}

        <p class="govuk-body">
          There is a payment of £272 per agreement for action 'Assess moorland and produce a written record: CMOR1’.
        </p>

        <p class="govuk-body">
          You’ll receive this payment if you are not already doing this action on another land parcel.
        </p>

        {% endif %}

        <table class="govuk-table govuk-table--small-text-until-tablet table-bordered" data-test-id="paymentsTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for heading in summaryOfPayments.headings %}
                <th scope="col" class="govuk-table__header"
                  {% for key, value in heading.attributes %}
                    {{ key }}="{{ value }}"
                  {% endfor %}>
                  {{ heading.text }}
                </th>
              {% endfor %}
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            {% for row in summaryOfPayments.data %}
              <tr class="govuk-table__row" data-test-id="paymentsTableRow{{ loop.index }}">
                {% for cell in row %}
                  <td class="govuk-table__cell{% if cell.attributes and cell.attributes.class %} {{ cell.attributes.class }}{% endif %}"
                    data-test-id="paymentsTableCell{{ loop.index }}_{{ loop.index0 }}"
                    {% for key, value in cell.attributes %}
                      {% if key != 'class' %}
                        {{ key }}="{{ value }}"
                      {% endif %}
                    {% endfor %}>
                    {% if loop.parent.last %}
                      <strong>{{ cell.text }}</strong>
                    {% else %}
                      {{ cell.text }}
                    {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2 id="schedule" class="govuk-heading-l">6. Agreement duration</h2>

        <p class="govuk-body">
          The Agreement will start on the Agreement start date and end on the Agreement end date,
          subject to the provisions for early termination set out in the Terms and Conditions.
        </p>

        {% if isAgreementAccepted %}
          <dl class="govuk-body dataset-info">
            <dt>Agreement start date:</dt>
            <dt>{{ agreement.payment.agreementStartDate | formatDate("d MMMM yyyy") }}</dt>

            <dt>Agreement end date:</dt>
            <dt>{{ agreement.payment.agreementEndDate | formatDate("d MMMM yyyy") }}</dt>
          </dl>
        {% endif %}

        <h2 id="signature" class="govuk-heading-l">7. Electronic signature</h2>

        <p class="govuk-body">
          The Agreement comprising this Agreement Document, the Terms and Conditions and the Actions has been accepted by
          {{ applicantName }} – {{ businessName }}
           {% if isAgreementAccepted %}
           on {{ agreement.updatedAt | formatDate("d MMMM yyyy") }}
           {% endif %}
        </p>

        <h2 id="protection" class="govuk-heading-l">8. Data protection</h2>

        <p class="govuk-body">
          The Department for Environment, Food and Rural Affairs (Defra) is the data controller
          for personal data you give to Rural Payments Agency (RPA). For information on how we
          handle personal data go to Condition 16 of the Terms and Conditions.
        </p>
      </div>

      <div class="t-and-c-print-only">
        {# Rendered only in print — hidden in browser view #}
        <!-- T&Cs text will be placed here -->
      </div>
    </div>
  </div>

{% endblock %}
