{% set bodyClasses = "view-offer-page" ~ (" view-agreement-has-watermark" if showWatermark else "") %}
{% set mainClasses = "" %}
{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}




{% block content %}

  {% if showWatermark %}
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          This is the draft version of your agreement.
        </strong>
        <span>
          You will receive the final version of your agreement once you have accepted your agreement offer.
        </span>
      </div>
    </div>
  </div>
  {% endif %}

    <div class="with-watermark">



    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
            <dl class="govuk-body dataset-info">
                <dd>
                    Agreement holder:
                </dd>
                <dt>{{ agreement.applicant.business.name }}</dt>
                <dd>
                    SBI:
                </dd>
                <dt>{{ agreement.identifiers.sbi }}</dt>
                <dd>
                    Address:
                </dd>
                <dt>{{ address }}</dt>
                <dd>
                    Agreement name:
                </dd>
                <dt>{{ agreementName }}</dt>
                <dd>
                    Agreement number:
                </dd>
                <dt>{{ agreement.agreementNumber }}</dt>
                <dd>
                    Start date:
                </dd>
                <dt>{{ agreement.payment.agreementStartDate | formatDate("d MMMM yyyy") }}</dt>
            </dl>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <nav role="navigation" aria-labelledby="subsection-title">
                <div id="contents">
                    <p class="govuk-body-s">Contents</p>
                    <ul class="govuk-list toc">
                        <li data-test-id="contentsIntroLink">
                            <a href="#intro">1. Introduction and overview</a>
                        </li>
                        <li data-test-id="contentsPartiesLink">
                            <a href="#parties">2. Parties to the agreement</a>
                        </li>
                        <li data-test-id="contentsLandLink">
                            <a href="#land">3. Land covered by the agreement</a>
                        </li>
                        <li data-test-id="contentsActionsLink">
                            <a href="#actions">4. Summary of actions</a>
                        </li>
                        <li data-test-id="contentsPaymentLink">
                            <a href="#payment">5. Summary of payments</a>
                        </li>
                        <li data-test-id="contentsScheduleLink">
                            <a href="#schedule">6. Payment schedule</a>
                        </li>
                        <li data-test-id="contentsProtectionLink">
                            <a href="#protection">7. Data protection</a>
                        </li>
                    </ul>
                </div>
                <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-6 print-btn">
                    <button
                      class="govuk-link govuk-body-s gem-c-print-link__button"
                      data-module="print-link"
                      data-print-link-module-started="true"
                      style="--print-icon-url: url('{{ getAssetPath(baseUrl, 'images/govuk-icon-print.png') }}');">
                      Print this page
                    </button>
                </div>
            </nav>
        </div>
        <noscript>
            <style>
                .print-btn { display: none !important; }
            </style>
        </noscript>
        <div class="govuk-grid-column-three-quarters">
            <h2 id="intro" class="govuk-heading-l">1. Introduction and overview</h2>
            <p class="govuk-body">
                This is the Sustainable Farming Incentive (SFI) "Agreement Document", which describes the sum to be paid (the "Grant") to the agreement holder ("you") for delivering the SFI action(s) (the "Actions") you have chosen and for entering into and managing your Agreement (the "SFI Management Payment").
            </p>
            <p class="govuk-body">The SFI "Agreement" comprises:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>this Agreement Document</li>
                <li>
                    the Sustainable Farming Incentive Agreement "Terms and Conditions", which are applicable to the payment of the Grant
                </li>
                <li>the Actions you have chosen</li>
            </ul>
            <p class="govuk-body">
                When you enter the Agreement, you are agreeing to the terms applicable to the payment of the Grant. You should review the mandatory requirements of your Agreement to make sure you understand the full extent of your obligations under the Agreement.
            </p>
            <h2 id="parties" class="govuk-heading-l">2. Parties to the agreement</h2>
            <p class="govuk-body">This Agreement is between:</p>
            <p class="govuk-body">You, {{ agreement.applicant.business.name }}, of {{ address }}
                and the Rural Payments Agency (acting as a delivery body on behalf of the Department for Environment, Food and
                Rural Affairs), PO Box 324, Worksop, S95 1DF ("us", "we", "our").
            </p>
            <h2 id="land" class="govuk-heading-l">3. Land covered by the agreement</h2>
            <p class="govuk-body">The "Agreement Land" comprises the following land parcels:</p>
            <table class="govuk-table govuk-table--small-text-until-tablet" data-test-id="landTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        {% for heading in agreementLand.headings %}
                            <th scope="col" class="govuk-table__header"
                              {% for key, value in heading.attributes %}
                                  {{ key }}="{{ value }}"
                              {% endfor %} >
                              {{ heading.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for row in agreementLand.data %}
                    <tr class="govuk-table__row" data-test-id="landTableRow{{ loop.index }}">
                        {% for cell in row %}
                        <td class="govuk-table__cell"
                          data-test-id="landTableCell{{ loop.index }}_{{ loop.index0 }}"
                          {% for key, value in cell.attributes %}
                              {{ key }}="{{ value }}"
                          {% endfor %} >
                        {{ cell.text }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="govuk-body">
                Please note that the Terms and Conditions contain separate obligations in relation to the "Agreement Land".
            </p>
            <h2 id="actions" class="govuk-heading-l">4. Summary of actions</h2>
            <p class="govuk-body">
                The following table sets out a summary of the Parcel based SFI Actions you have chosen and agree to complete under the Agreement. The Terms and Conditions and the Actions set out the accompanying obligations for the chosen Actions.
            </p>
            <table class="govuk-table govuk-table--small-text-until-tablet table-bordered" data-test-id="actionsTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        {% for heading in summaryOfActions.headings %}
                        <th scope="col" class="govuk-table__header"
                          {% for key, value in heading.attributes %}
                            {{ key }}="{{ value }}"
                          {% endfor %} >
                          {{ heading.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for row in summaryOfActions.data %}
                    <tr class="govuk-table__row" data-test-id="actionsTableRow{{ loop.index }}">
                        {% for cell in row %}
                        <td class="govuk-table__cell"
                          data-test-id="actionsTableCell{{ loop.index }}_{{ loop.index0 }}"
                          {% for key, value in cell.attributes %}
                            {{ key }}="{{ value }}"
                          {% endfor %} >
                        {{ cell.text }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 id="payment" class="govuk-heading-l">5. Summary of payments</h2>
            <p class="govuk-body">Subject to you complying with your Agreement, the following table sets out a summary of:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the total payments for the Actions you have chosen and agree to complete under the Agreement</li>
                <li>the relevant additional payments</li>
                <li>
                    the indicative SFI management payment - if you have submitted 2 or more SFI applications, the SFI management payment may be removed from this agreement offer as it will only be paid for the area, up to 50 hectares, entered into SFI actions in the 'live' SFI agreement which starts first
                </li>
            </ul>
            <p class="govuk-body">These payments will be made each year of your Agreement.</p>
            <p class="govuk-body">
                Please note that these figures are correct as at the Agreement Start Date and may vary as a result of the processes set out in the Terms and Conditions.
            </p>
            <table class="govuk-table govuk-table--small-text-until-tablet table-bordered" data-test-id="paymentsTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        {% for heading in summaryOfPayments.headings %}
                            <th scope="col" class="govuk-table__header"
                              {% for key, value in heading.attributes %}
                                  {{ key }}="{{ value }}"
                              {% endfor %} >
                              {{ heading.text }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for row in summaryOfPayments.data %}
                    <tr class="govuk-table__row" data-test-id="paymentsTableRow{{ loop.index }}">
                        {% for cell in row %}
                        <td class="govuk-table__cell"
                          data-test-id="paymentsTableCell{{ loop.index }}_{{ loop.index0 }}"
                          {% for key, value in cell.attributes %}
                            {{ key }}="{{ value }}"
                          {% endfor %} >
                        {{ cell.text }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="govuk-body">
                If you are eligible for the Management Payment (MPAY1) the payment details will be shown within section 7 below.
            </p>

            <h2 id="schedule" class="govuk-heading-l">6. Payment schedule</h2>
            <p class="govuk-body">
                Subject to you complying with your Agreement, the following table sets out a summary of the total payments for:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>each year of the Agreement</li>
                <li>the total for the duration of the actions</li>
            </ul>
            <p class="govuk-body">
                Please note that these figures are correct as at the Agreement Start Date and may vary as a result of the processes set out in the Terms and Conditions.
            </p>
            <table class="govuk-table govuk-table--small-text-until-tablet table-bordered" data-test-id="scheduleTable">
                <thead class="govuk-table__head">
                    {% for heading in annualPaymentSchedule.headings %}
                        <th scope="col" class="govuk-table__header"
                          {% for key, value in heading.attributes %}
                              {{ key }}="{{ value }}"
                          {% endfor %} >
                          {{ heading.text }}</th>
                    {% endfor %}
                </thead>
                <tbody class="govuk-table__body">
                    {% for row in annualPaymentSchedule.data %}
                    <tr class="govuk-table__row" data-test-id="scheduleTableRow{{ loop.index }}">
                        {% for cell in row %}
                        <td class="govuk-table__cell"
                          data-test-id="scheduleTableCell{{ loop.index }}_{{ loop.index0 }}"
                          {% for key, value in cell.attributes %}
                            {{ key }}="{{ value }}"
                          {% endfor %} >
                        {{ cell.text }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="govuk-body">
                Under an SFI agreement, your annual payment value is paid in quarterly instalments. You’ll usually receive your first payment in the fourth month after your agreement’s start date.
            </p>
            <h2 id="protection" class="govuk-heading-l">7. Data protection</h2>
            <p class="govuk-body">
                The Department for Environment, Food and Rural Affairs (Defra) is the data controller for personal data you give to Rural Payments Agency (RPA). For information on how we handle personal data go to www.gov.uk and search 'Rural Payments Agency personal information charter'.
            </p>
        </div>
        <div class="t-and-c-print-only">
            {# Rendered only in print — hidden in browser view #}
            <!-- T&Cs text will be placed here -->
        </div>

    </div>
{% endblock %}
