<section class="app-contact-panel" aria-labelledby="amend-agreement-offer-heading">
  <h2 id="amend-agreement-offer-heading" class="govuk-heading-m">
    If you need to amend your agreement offer
  </h2>

  <p class="govuk-body">Contact the Rural Payments Agency (RPA) to explain:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the changes you want to make</li>
    <li>why you want to make the changes</li>
  </ul>

  <p class="govuk-body">
    Telephone: 020 8026 2395<br>
    Email: <a href="mailto:farmpayments@rpa.gov.uk" class="govuk-link">farmpayments@rpa.gov.uk</a>
  </p>
</section>

