<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you need to make an update
    </span>
  </summary>

  <div class="govuk-details__text">
    <p>Contact the Rural Payments Agency (RPA) by phone or email for help and support.</p>
    <ul class="govuk-list">
      <li>Telephone: 020 8026 2395</li>
      <li>Monday to Friday, 8:30am to 5pm (except bank holidays)</li>
    </ul>
    <p>
      <a
        href="https://www.gov.uk/call-charges"
        target="_blank"
        class="govuk-link"
      >
        Find out about call charges (opens in new tab)
      </a>
    </p>
    <p>Email: <a href="mailto:farmpayments@rpa.gov.uk" class="govuk-link">farmpayments@rpa.gov.uk</a></p>
    <p>The RPA responds to email queries within 10 working days.</p>
  </div>
</details>
