{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "account-bar/macro.njk" import defraAccountBar %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath(baseUrl, 'stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {# serviceName being used in govukHeader will be @deprecated in v6. It has moved to govukServiceNavigation - https://github.com/alphagov/govuk-frontend/blob/main/CHANGELOG.md#move-service-name-and-navigation-links-from-the-govuk-header-to-service-navigation-component #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceUrl: buildUrl(serviceUrl),
    useTudorCrown: true
  }) }}

  {{ govukServiceNavigation({
    navigation: [{html: '<strong>' + serviceTitle + '</strong>'}]
  }) }}

  <aside class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: '<span class="govuk-phase-banner__text">
              This is a new service.
            </span>'
    }) }}

    {{ defraAccountBar({
      organisationName: agreement.applicant.business.name,
      organisationId: agreement.identifiers.sbi,
      name: agreement.applicant.customer.name.first + ' ' + agreement.applicant.customer.name.last
    }) }}
  </aside>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {% set footerLinks = [
    {
      href: "https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter",
      text: "Privacy (opens in new tab)",
      attributes: {
        target: "_blank",
        rel: "noopener noreferrer"
      }
    },
    {
      href: "/cookies",
      text: "Cookies"
    }
  ] %}

  {% if cdpEnvironment !== 'prod' %}
    {% set footerLinks = footerLinks.concat([{
        href: '/clear-application-state',
        text: 'Clear application state'
      }])
    %}
  {% endif %}

  {{ govukFooter({
    meta: {
      items: footerLinks
    },
    rebrand: true
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath(baseUrl, 'application.js') }}"
  nonce="{{cspNonce}}"></script>
  {% if pageScript %}
  <script type="module" src="{{ getAssetPath(baseUrl, pageScript) }}" nonce="{{cspNonce}}"></script>
  {% endif %}
  {% if serviceVersion %}<!-- {{ serviceVersion }} -->{% endif %}
{% endblock %}
