{% set bodyClasses = "accept-offer-page" %}
{% set mainClasses = "" %}
{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
  <!-- Back Link -->
  <a href="{{ buildUrl(baseUrl) }}" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
{% endblock %}

{% block content %}
  <!-- Main Heading and Content -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" style="font-family: 'GDS Transport', Arial, sans-serif; font-weight: bold;">{{ pageTitle }}</h1>

      <!-- Confirmation Text -->
      <p class="govuk-body govuk-!-font-size-19" style="line-height:25px;">
        If you accept this offer for funding, you confirm that:
      </p>

      <!-- Confirmation Bullet Points -->
      <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19" style="line-height:25px;">
        <li>you are entering into a legally binding agreement with Defra</li>
        <li>you and your land will remain eligible for the duration of the actions you have selected</li>
        <li>you will get any required regulatory consents, permissions and licences before you do your selected actions</li>
        <li>you will complete your selected actions by following the guidance on <a href="https://www.gov.uk/find-funding-for-land-or-farms" class="govuk-link" rel="noopener noreferrer" target="_blank">funding for land or farms (opens in new tab)</a> that explains what you must do to get paid</li>
        <li>you will submit an annual declaration to confirm you have complied, or expect to have complied with the requirements of the actions you have selected for that year - the Rural Payments Agency will contact you when you need to do this</li>
        <li>you will comply with the <a href="#" class="govuk-link">terms and conditions (opens in new tab)</a> for your selected actions</li>
      </ul>

      <!-- Accept Button -->
      <form method="post" id="accept-offer-form">
        {{ govukButton({
          text: "Accept offer",
          name: "action",
          value: "accept-offer"
        }) }}
      </form>

      {% include "partials/help/update.njk" %}
    </div>
  </div>
{% endblock %}
