{% set bodyClasses = "review-offer-page" %}
{% set mainClasses = "" %}
{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Actions</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Action</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Code</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Land parcel</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold" style="white-space: nowrap;">Quantity</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for action in actionApplications %}
        <tr class="govuk-table__row" id="actionRow{{ loop.index }}">
          <td class="govuk-table__cell govuk-!-font-size-19" id="actionTableActionRow{{ loop.index }}">{{ codeDescriptions[action.code] }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" id="actionTableCodeRow{{ loop.index }}">{{ action.code }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap;" id="actionTableLandParcelRow{{ loop.index }}">{{ action.sheetId }}
            {{ action.parcelId }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap;" id="actionTableQuantityRow{{ loop.index }}">{{ action.appliedFor.quantity | round(4) }}&nbsp;{{ action.appliedFor.unit }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h2 class="govuk-heading-m">Payments</h2>
  <p class="govuk-body govuk-!-font-size-19">
    If you accept this offer, you will receive these payments for each action.
    <br>
    <br>
    You will usually receive your first payment in the fourth month after your
    <br>
    agreement's start date.
  </p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Action</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Code</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold">Payment rate for each year</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align: right;">First Payment</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align: right;">Subsequent payments</th>
        <th scope="col" class="govuk-table__header govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align: right;">Yearly payment</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for payment in payments %}
        <tr class="govuk-table__row" id="paymentRow{{ loop.index }}">
          <td class="govuk-table__cell govuk-!-font-size-19" id="paymentsTableActionRow{{ loop.index }}">{{ payment.description }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" id="paymentsTableCodeRow{{ loop.index }}">{{ payment.code }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap;"  id="paymentsTablePaymentRateForEachYearRow{{ loop.index }}">{{ payment.rateInPence | formatPenceCurrency }}
            {% if payment.unit %}&nbsp;per&nbsp;{{ payment.unit }}
            {% endif %}
          </td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap; text-align: right;" id="paymentsTableFirstPaymentRow{{ loop.index }}">{{ payment.firstPaymentPence | formatPenceCurrency }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap; text-align: right;" id="paymentsTableSubsequentPaymentRow{{ loop.index }}">{{ payment.subsequentPaymentPence | formatPenceCurrency }}</td>
          <td class="govuk-table__cell govuk-!-font-size-19" style="white-space: nowrap; text-align: right;" id="paymentsTableYearlyPaymentRow{{ loop.index }}">{{ payment.annualPaymentPence | formatPenceCurrency }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td class="govuk-table__cell" style="border-bottom: none;"></td>
        <td class="govuk-table__cell" style="border-bottom: none;"></td>
        <td class="govuk-table__cell govuk-!-font-size-19 govuk-!-font-weight-bold" style="border-bottom: none;">Total payment</td>
        <td class="govuk-table__cell govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align:right; border-bottom: none;" id="paymentsTableTotalFirstPayment">
          {{ totalFirstPayment | formatPenceCurrency }}
        </td>
        <td class="govuk-table__cell govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align:right; border-bottom: none;" id="paymentsTableTotalSubsequentPayment">
          {{ totalSubsequentPayment | formatPenceCurrency }}
        </td>
        <td class="govuk-table__cell govuk-!-font-size-19 govuk-!-font-weight-bold" style="text-align:right; border-bottom: none;" id="paymentsTableTotalYearlyPayment">{{ totalYearly | formatPenceCurrency }}</td>
      </tr>
    </tfoot>
  </table>

  <form method="POST">
    {{ govukButton({
      text: "Continue",
      name: "action",
      value: "display-accept"
    }) }}
  </form>

  {% include "partials/help/update.njk" %}
{% endblock %}
