{% set bodyClasses = "review-offer-page" %}
{% set mainClasses = "" %}

{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        If you accept this agreement offer, the resulting agreement will be between Defra and:
      </p>

      <p class="govuk-body">
        {{ agreement.applicant.business.name }}<br>
        {{ getAddress(agreement) }}<br>
        SBI: {{ agreement.identifiers.sbi }}
      </p>

      <p class="govuk-body">
        Your agreement will start on the first day of the month after you accept this offer.
      </p>

      <p class="govuk-body">
        The rules which apply to your agreement, which you must follow when you enter your agreement, are set out in:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a
            href="{{ buildUrl(serviceUrl, 'farm-payments/terms-and-conditions') }}"
            class="govuk-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            Farm payments technical test terms and conditions (opens in new tab)
          </a>
        </li>
        <li>
          <a
            href="{{ buildUrl(serviceUrl, 'farm-payments/fptt-information') }}"
            class="govuk-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            Farm payments technical test information (opens in new tab)
          </a>
        </li>
        <li>
          <a
            href="{{ buildUrl(serviceUrl, 'farm-payments/fptt-actions') }}"
            class="govuk-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            Farm payments technical test actions (opens in new tab)
          </a>
        </li>
      </ul>

      <p class="govuk-body">
        <a href="{{ buildUrl(baseUrl, agreement.agreementNumber, 'print') }}" class="govuk-link" target="_blank">View a printable version of your draft agreement (opens in new tab)</a>
      </p>
    </div>
  </div>

  <br>

  <h2 class="govuk-heading-l">Actions</h2>

  <table
    class="govuk-table govuk-table--small-text-until-tablet table-bordered"
    data-test-id="actionsTable"
  >
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% for heading in summaryOfActions.headings %}
          <th
            scope="col"
            class="govuk-table__header"
            {% for key, value in heading.attributes %}
              {{ key }}="{{ value }}"
            {% endfor %}
          >
            {{ heading.text }}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for row in summaryOfActions.data %}
        <tr
          class="govuk-table__row"
          data-test-id="actionsTableRow{{ loop.index }}"
        >
          {% for cell in row %}
            <td
              class="govuk-table__cell"
              data-test-id="actionsTableCell{{ loop.index }}_{{ loop.index0 }}"
              {% for key, value in cell.attributes %}
                {{ key }}="{{ value }}"
              {% endfor %}
            >
              {{ cell.text }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Payments</h2>

      <p class="govuk-body govuk-!-font-size-19">
        If you accept this agreement offer, you will receive the following payments for each action.
      </p>

      <p class="govuk-body govuk-!-font-size-19">
        You will receive your payments in 4 instalments. Your first payment may be a different amount due to the
        Rural Payments Agency rounding it up. Your other 3 payments are evenly split.
      </p>

      <p class="govuk-body govuk-!-font-size-19">
        You will usually receive your first payment in the fourth month after your agreement's start date.
      </p>

      {% if annualPayments.length > 0 %}
         <h3 class="govuk-heading-s">Additional yearly payments</h3>
      {% endif %}

      {% for annualPayment in annualPayments %}
          <p class="govuk-body">
            There is a payment of {{ annualPayment.payment }}  per year for action {{ annualPayment.description }}.
          </p>
      {% endfor %}

      {% if annualPayments.length > 0 %}
        <p class="govuk-body">
           You will receive this payment if you are not already doing this action on another land parcel.
        </p>
      {% endif %}
    </div>
  </div>

  <table
    class="govuk-table govuk-table--small-text-until-tablet table-bordered"
    data-test-id="paymentsTable"
  >
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% for heading in summaryOfPayments.headings %}
          <th
            scope="col"
            class="govuk-table__header"
            {% for key, value in heading.attributes %}
              {{ key }}="{{ value }}"
            {% endfor %}
          >
            {{ heading.text }}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for row in summaryOfPayments.data %}
        <tr
          class="govuk-table__row"
          data-test-id="paymentsTableRow{{ loop.index }}"
        >
          {% for cell in row %}
            <td
              class="govuk-table__cell{% if cell.attributes.class %} {{ cell.attributes.class }}{% endif %}"
              data-test-id="paymentsTableCell{{ loop.index }}_{{ loop.index0 }}"
              {% for key, value in cell.attributes %}
                {% if key != "class" %}
                  {{ key }}="{{ value }}"
                {% endif %}
              {% endfor %}
            >
              {% if loop.parent.last %}
                <strong>{{ cell.text }}</strong>
              {% else %}
                {{ cell.text }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="POST" action="{{ buildUrl(baseUrl) }}">
    {{ govukButton({
      text: "Continue",
      name: "action",
      value: "display-accept"
    }) }}
  </form>

  {% set section = {
    message: "Contact the Rural Payments Agency (RPA) to update your offer."
  } %}
  {% include "partials/help/update.njk" %}
{% endblock %}
