@use "govuk-frontend" as *;

// Example namespaced custom element style CSS classes

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.gem-c-print-link__link,
.gem-c-print-link__button {
  background: var(--print-icon-url) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
}

.dataset-info dd {
  margin-left: 0px;
  width: 35%;
}

.dataset-info dd,
.dataset-info dt {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: text-top;
}

.dataset-info dt {
  width: 30%;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 5px;
}

.toc {
  font-size: 16px !important;
  position: sticky;
  float: left;
  margin-bottom: 30px;
}

.toc a {
  text-decoration: none;
  font-size: 16px !important;
}

.uc-section-card__link:link,
.uc-action-card__link:link,
.dwp-side-navigation__link:link,
a:link,
.govuk-link:link,
.dwp-timeline__link:link {
  color: #1d70b8;
}

.t-and-c-print-only {
  display: none;
}

@media print {
  .govuk-header,
  .govuk-footer,
  .govuk-phase-banner,
  .toc,
  .gem-c-print-link,
  nav[role='navigation'] {
    display: none !important;
  }

  .govuk-width-container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: none !important;
  }

  .govuk-grid-column-two-thirds,
  .govuk-grid-column-three-quarters,
  .govuk-grid-column-one-quarter {
    width: 100% !important;
    max-width: 100% !important;
  }

  .t-and-c-print-only {
    display: block;
  }

  /* Hide sign out link in account bar */
  .defra-account-bar .govuk-link {
    display: none !important;
  }

  /* Force the account bar to remain two columns in print */
  .defra-account-bar__row {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  /* Override your earlier 'grid columns = 100%' rule just for this row */
  .defra-account-bar__row .defra-account-bar__left {
    width: 66.666% !important;
    max-width: none !important;
    text-align: left;
    break-inside: avoid;
  }
  .defra-account-bar__row .defra-account-bar__right {
    width: 33.333% !important;
    max-width: none !important;
    text-align: right;
  }

  .dataset-info dd {
    width: 30% !important;
    margin-left: 0 !important;
  }

  .dataset-info dt {
    width: 68% !important;
    white-space: normal !important;
    word-wrap: break-word;
  }
}
